<div class="h-100 bg-body" [attr.data-bs-theme]="theme">
  <div class="container-fluid p-5">
    <nav class="navbar mb-5">
      <div class="container-fluid">
        <img alt="" ngSrc="assets/logo.png" height="48" width="152" priority>
        <div class="btn-group" role="group">
          <input type="radio" class="btn-check" name="lightThemeToggle" id="lightThemeToggle"
                 [checked]="theme == 'light'"
                 (click)="setTheme('light')">
          <label class="btn btn-outline-secondary" for="lightThemeToggle">Light</label>
          <input type="radio" class="btn-check" name="darkThemeToggle" id="darkThemeToggle" autocomplete="off"
                 [checked]="theme == 'dark'"
                 (click)="setTheme('dark')">
          <label class="btn btn-outline-secondary" for="darkThemeToggle">Dark</label>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

